{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="text-uppercase">Modulo de creacion de cargos</h1>

		<p style="color:green">{{mensaje}}</p>
		<form class="form">
		{% csrf_token %}
			<label> Escriba el nombre del cargo a crear</label>
			<div class="col-md-6 offset-md-3">
				<input type="text" name="nombre" required class="text-uppercase form-control">
			</div>
			<br>
			<button type="submit" class="btn btn-success btn-lg"> Crear</button>
			
		</form>
		
	</div>
	
</div>
{%endblock%}