<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>Bateria de riego Psicosocial Proteger I.P.S</title>
	<link rel="icon" type="image/png" href="{% static 'image/favicon.png' %}">
</head>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>

{% block header %}


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/index"><img src="{% static 'image/logo.png' %}"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>


	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	     
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle text-uppercase"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Agregar Información

	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	        	<a class="dropdown-item" href="{% url 'index:profesion' %}">Agregar una profesion</a>
	          <a class="dropdown-item" href="{% url 'index:cargo' %}">Agregar cargo</a>
	          <a class="dropdown-item" href="{% url 'index:area' %}">Agregar area de la empresa</a>
	          <div class="dropdown-divider"></div>
	          
	        </div>
	      </li>
	    
	    </ul>
	    
	  </div>
	  <p>BATERIA DE RIESGO PSICOSOCIAL</p>
	</nav>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>