{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

	<div class="container-fluid">
		<div class="col-md-12 p-6 bg-light">

			<div class="row">
				<div class="col-md-6 offset-md-3">
					<h5 class="text-center text-uppercase" style="color: green"> Resultados guardados exitosamente </h5>
					<table class="table table-striped">

						<tr>
							<td>Nombre</td>
							<td>{{request.session.datos_trabajador_nombre}}</td>
						</tr>
						<tr>

							<td>Cedula</td>
							<td> {{request.session.datos_trabajador_cedula}}<td>
						</tr>
						<tr>
							<td>Nombre de la empresa</td>
							<td> {{request.session.datos_trabajador_nombre_empresa}}<td>

						</tr>									
					</table>
					<div class="col-md-12 text-center">
						<a id="nueva" class="btn btn-lg btn-info" href="{% url 'index:inicio' %}" >Calificar otra bateria</a>
						<a onclick="cambio()" class="btn btn-lg btn-success" href="{{request.session.url_grafica}}" target="_blank">Registrar Datos</a>
					</div>
				</div>
		    </div>
	</div>
	
	
<script type="text/javascript">
	$("#nueva").hide();
	function cambio(){
			$("#nueva").show();
	}
</script>

{%endblock%}
