{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

	<div class="container-fluid">
		<div class="col-md-6 offset-md-3 text-center mb-6">


				<h5 class="text-center text-uppercase">
						Por favor verfica que la imagen corresponde a la <span style="color:orangered"> HOJA DE RESPUESTAS {{request.session.url_tipo_forma}}</span> y que los siguientes datos son correctos
					</h5>
				<!-- <p style="color:orangered">Antes de iniciar la lectura de las baterias de riesgo, por favor diligencie los siguientes datos.</p> -->
			</div>
		<div class="row">
			
		<div class="col-md-12 p-6">

			<div class="row">
				<div class="col-md-6">
					<h4>{{request.session.url_tipo_forma}}</h4>
					<table class="table table-striped text-center">
						<tr>
						<td> # PREGUNTA</td>
						<td> RESPUESTA</td>
						<td> VALOR NUMERICO</td>
					</tr>
						{% for forma in formaA%}
							<tr style="font-size: 12px">
							    <td>{{forma.2}}</td>
								 <td>{{forma.0}}</td>
								 <td>{{forma.1}}</td>
								 
							</tr>

						{%endfor%}
 
					</table>
				<h4>Extralaboral</h4>
				<table class="table table-striped text-center">
						<tr>
						<td> # PREGUNTA</td>
						<td> RESPUESTA</td>
						<td> VALOR NUMERICO</td>
					</tr>
						{% for forma in Extralaboral%}
							<tr style="font-size: 12px">
							    <td>{{forma.2}}</td>
								 <td>{{forma.0}}</td>
								 <td>{{forma.1}}</td>
								 
							</tr>

						{%endfor%}
 
					</table>

				<h4>Estres</h4>

					<table class="table table-striped text-center">
						<tr>
						<td> # PREGUNTA</td>
						<td> RESPUESTA</td>
						<td> VALOR NUMERICO</td>
					</tr>
						{% for forma in Estres%}
							<tr style="font-size: 12px">
							    <td>{{forma.2}}</td>
								 <td>{{forma.0}}</td>
								 <td>{{forma.1}}</td>
								 
							</tr>

						{%endfor%}
 
					</table>


				</div>


				<div class="col-md-6 bg-light" style="border:2px green solid;padding:5%">
					<h6 class="text-center">Imagen Escaneada <span style="color:orangered">"{{request.session.url_tipo_forma}}"</span></h6>
					<img src="{% static form.url%}" width="100%">
					<div class="col-md-12 text-center">
						<form method="post">
						{% csrf_token %}
						<input type="hidden" name="cambio_img">
						<button type="submit" class="btn btn-warning btn-lg" >Si los datos no corresponden por favor   
						<span style="color:orangered" class="text-uppercase"> ESCANEA DE NUEVO LA HOJA "DATOS GENERALES {{request.session.url_tipo_forma}}" Y LUEGO CLICK AQUI PARA CAMBIAR LA IMAGEN</span></button>
					</form>
						<br>
							<form method="post">
								{% csrf_token %}
								<input type="hidden" name="CheckFormA"> 
								<br>
								<button type="submit" class="btn btn-lg btn-success">Confirmar y Guardar Datos de {{request.session.datos_trabajador_nombre}} </button>
								
							</form>
						</div>
				</div>
		</div>


	</div>
	

{%endblock%}
