{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">

				
				<!-- <p style="color:orangered">Antes de iniciar la lectura de las baterias de riesgo, por favor diligencie los siguientes datos.</p> -->
			</div>
		<div class="col-md-12 p-6">
			
			<div class="col-md-6 offset-md-3 text-justify bg-light">
					<h4 class="text-center text-uppercase"> Bienvenido al software para calificacón de la bateria de riesgo psicosocial desarrollado por Proteger I.P.S</h4>

			</div>
			<div class="col-md-12" style="border:2px black solid;padding: 3%"> 
				<h5 class="text-center text-uppercase text-info"> ASEGURECE DE ESCANEAR LAS TRES CARAS DE LA BATERIA DEL PACIENTE A CALIFICAR</h5>
				<br>

	{% if form %}


				<p class="text-center" style="color:orangered"><b>Empiece por diligenciar los siguientes datos, estos datos estan en la primera cara de la Ficha de datos generales y fueron suministrados por el paciente </b></p>
				{% if successSave %}
					<p class="text-center text-success">{{successSave}}</p>
				{%endif%}
				
			
		<div class="row">
				<div class="col-md-6">
					<div class="bg-info p-4 text-center"> 
					<label style="font-weight: bold"> Fecha de aplicacion de la bateria </label>
					
					{% if request.session.datos_trabajador_fecha_aplicacion %}
						<input type="date" value="{{request.session.datos_trabajador_fecha_aplicacion}}" name="aplicacion_fecha" class="form-control" required>
					{% else %}
						<input type="date" name="aplicacion_fecha" class="form-control" required>
					{% endif %}

					<label style="font-weight: bold"> Nombre de la empresa </label>
					{% if request.session.datos_trabajador_nombre_empresa %}
						<input type="text"  value="{{request.session.datos_trabajador_nombre_empresa}}" name="empresa" class="form-control text-uppercase" required>
					{% else %}
						<input type="text"  name="empresa" class="form-control" required>
					{% endif %}
				</div>

					<label for="nombre_paciente">Nombre del trabajador</label>	

					<input type="text" name="nombre_paciente"  class="form-control text-uppercase" required>

					<p for="departamento_trabajo">Departamento en el que trabaja actualmente</p>
					<select name="departamento_trabajo" class="form-control text-uppercase" onchange="departamento2(this)">
						<option></option>
						{% for departamento in departamentos%}
						<option value="{{departamento.id_departamento}}">{{departamento.departamento}}</option>
						{% endfor %}
					</select>

					</select>
					<p for="municipio_trabajo">Municipio en el que trabaja actualmente</p>
					<select name="municipio_trabajo" class="form-control text-uppercase" id="municipio_trabajo_id">
						
					</select>
					
				</div>
				<div class="col-md-6">
					<label for="departamento_trabajo">Departamento en el que vive actualmente</label>
										
					<select name="departamento_vivienda" class="form-control" onchange="departamento(this)" required>
						<option></option>
						{% for departamento in departamentos%}
						<option value="{{departamento.id_departamento}}">{{departamento.departamento}}</option>
						{% endfor %}
					</select>

					
					<label for="municipio_vivienda">Municipio en el que vive actualmente</label>
					<select name="municipio_vivienda" class="form-control" id="municipio_vivienda_id" required>

					</select>

					<label for="profesion">¿ Cual es su ocupacion o profesion?</label>
					<select class="form-control" name="profesion" required>
						<option></option>
						{% for profesion in profesiones%}
							<option class="text-uppercase"> {{profesion.nombre}}</option>
						{% endfor %}

					</select>

					
					<label for="cargo">¿ Cual es el nombre del cargo que ocupa en la empresa ?</label>
					<select class="form-control" name="cargo" required>
						<option></option>
						{% for cargo in cargos%}
							<option> {{cargo.nombre}}</option>
						{% endfor %}

					</select>
					
					<label>Nombre del departamento area o seccion de la empresa en el que trabaja</label>
					<select class="form-control" name="area" required>
						<option></option>
						{% for area in areas%}
							<option> {{area.nombre}}</option>
						{% endfor %}

					</select>
				
				</div>
				</div>
		{% endif %}
					<br>
					<form class="form" enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<div class="col-md-12 text-center mt-4 mb-12">
						<button type="submit" class="btn btn-lg btn-success p-5">Calificar Ficha De Datos Generales Cara Uno </button>
					</div>

					</form>
						

				</div>

				</div>
		</div>

	</div>

<script type="text/javascript">
	function departamento(departamento){
		console.log("Llamado")
		$('#municipio_vivienda_id').html("")
		$.ajax({
				url:'/index/municipios',
				dataType:'json',
				data:{departamento_id:departamento.value},
				success:(data)=>{
					data.forEach((municipios)=>{
						
						$('#municipio_vivienda_id').append("<option class='text-uppercase'>"+municipios.fields.municipio+"</option>")

					})
					
				}

			})
	}

	function departamento2(departamento){
		console.log("Llamado")
		$('#municipio_trabajo_id').html("")
		$.ajax({
				url:'/index/municipios',
				dataType:'json',
				data:{departamento_id:departamento.value},
				success:(data)=>{
					data.forEach((municipios)=>{
						
						$('#municipio_trabajo_id').append("<option class='text-uppercase'>"+municipios.fields.municipio+"</option>")

					})
					
				}

			})
	}

	
	
		

</script>

{%endblock%}