{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

	<div class="container-fluid">
		<div class="col-md-12 p-6 bg-light">

			<div class="row">
				<div class="col-md-6 offset-md-3">
					<h5 class="text-center text-uppercase" style="color: orangered"> {{mensaje}}</h5>
					
					<div class="col-md-12 text-center">
						<a class="btn btn-lg btn-warning" href="{% url 'index:inicio' %}" >Volver</a>
					</div>
				</div>
		    </div>
	</div>
	
	

{%endblock%}
