{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center p-4">
				
				<h5 class="text-center text-uppercase">
						Por favor verfica que la imagen corresponde a la <span style="color:orangered"> CARA UNO DE LA FICHA DE DATOS GENERALES</span> y que los siguientes datos son correctos
					</h5>
				
				<!-- <p style="color:orangered">Antes de iniciar la lectura de las baterias de riesgo, por favor diligencie los siguientes datos.</p> -->
			</div>
		<div class="col-md-12 p-6 ">

			<div class="row">
				<div class="col-md-6">
					
					<table class="table table-striped">

						<tr>
							<td>Nombre</td>
							<td>{{ request.session.datos_trabajador_nombre }}</td>
						</tr>
						<tr>

							<td>Ultimo nivel de estudios que alcanzo</td>
							<td> {{ request.session.datos_trabajador_nivel_estudio }}</td>
						</tr>
							<tr>
							<td>Cedula</td>
							<td>{{ request.session.datos_trabajador_cedula }}</td>
						</tr>
						<tr>
							<td>Año de nacimiento</td>
							<td>{{ request.session.datos_trabajador_ano_nacimiento }}</td>
						</tr>

						<tr>

							<td>Estado Civil</td>
							<td>{{ request.session.datos_trabajador_estado_civil }}</td>
						</tr>
						<tr>

							<td>Estrato</td>
							<td>{{ request.session.datos_trabajador_estrato }}</td>
						</tr>
						<tr>

							<td>Tipo de vivienda</td>
							<td>{{ request.session.datos_trabajador_tipo_vivienda }}</td>
						</tr>
						<tr>
							<td>Sexo</td>
							<td>{{ request.session.datos_trabajador_sexo }}</td>
						</tr>

						<tr>
							<td>Profesion u ocupación</td>
							<td>{{ request.session.datos_trabajador_profesion }}</td>
						</tr>

						<tr>
							<td>Numero de personas que dependen economicamente del trabajador</td>
							<td>{{ request.session.datos_trabajador_personas_dependientes }}</td>
						</tr>

						<tr>
							<td>Departamento donde trabaja actualmente </td>
							<td>{{ request.session.dept }}</td>
						</tr>
						<tr>
							<td>Municipio donde trabaja actualmente </td>
							<td>{{ request.session.ciut }}</td>
						</tr>

						<tr>
							<td>Departamento de residencia actual</td>
							<td>{{ request.session.depr }}</td>
						</tr>

						<tr>
							<td>Municipio de residencia actual</td>
							<td>{{ request.session.ciur }}</td>
						</tr>
						<tr>

							<td>Hace cuantos años trabaja en la empresa</td>
							<td>{{ request.session.datos_trabajador_duracion_empresa }}</td>
						</tr>
						<tr>
							<td>Tipo de cargo</td>
							<td>{{ request.session.datos_trabajador_tipo_cargo }}</td>
						</tr>
						<tr>
							<td>Nombre del cargo que ocupa el trabajador</td>
							<td>{{ request.session.cargo }}</td>
						</tr>
						
						
						
						
						
					</table>
					
					<div class="col-md-12 text-center">
						<form method="post" class="form" enctype="multipart/form-data" action="{% url 'index:sociodemografico_2' %}"> 
							{% csrf_token %}
						<div class="row">	
						<div class="col-md-6">

							<label>¿ Los datos de la cara uno de la ficha de datos generales son correctos ?</label>
						</div>
						<div class="col-md-6">
							<input type="checkbox" name="" required class="form-control">
						</div>
						</div>
						<!-- <div class="bg-info p-3 m-3">
							<h6> Por favor suba la <span style="color:#303030" class="text-uppercase">Cara dos de la ficha de datos generales</span> de {{ request.session.datos_trabajador_nombre }}</h6>
							<input type="file" name="sociodemografico_segunda">
						</div> -->
							<button type="submit" class="btn btn-success"> CALIFICAR SEGUNDA CARA FICHA DE DATOS GENERALES</button>
							
						</form>
						
					</div>
				</div>

				<div class="col-md-6 bg-light" style="border:2px green solid;padding:5%">
					<h6 class="text-center">Imagen Escaneada <span style="color:orangered">"Datos Generales Cara Uno"</span></h6>
					<img src="{% static form.url%}" width="100%">
					<div class="text-center">
					<form method="post">
						{% csrf_token %}
						<input type="hidden" name="cambio_img">
						<button type="submit" class="btn btn-warning btn-lg" >Si los datos no corresponden por favor   
						<span style="color:orangered"> ESCANEA DE NUEVO LA HOJA "DATOS GENERALES CARA UNO" Y LUEGO CLICK AQUI PARA CAMBIAR LA IMAGEN</span></button>
					</form>
					</div>
				</div>
		</div>
<br>
<br>
<br>
<br>
	</div>
	

{%endblock%}