{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center mb-6">


				<h5 class="text-center text-uppercase">
						Por favor verfica que la imagen corresponde a la <span style="color:orangered"> CARA DOS de la ficha de datos generales
						</span> y que los siguientes datos son correctos
					</h5>
				<!-- <p style="color:orangered">Antes de iniciar la lectura de las baterias de riesgo, por favor diligencie los siguientes datos.</p> -->
			</div>
		<div class="col-md-12 p-6 bg-light">

			<div class="row">
				<div class="col-md-6">
					
					<table class="table table-striped">

						<tr>
							<td>Hace cuantos años desempeña el cargo u oficio actual</td>
							<td>{{request.session.datos_trabajador_duracion_cargo}}</td>
						</tr>
						<tr>

							<td>Nombre del departamento o area de la empresa en que trabaja</td>
							<td> {{request.session.datos_trabajador_area}}<td>
						</tr>
						<tr>
							<td>Tipo de contrato</td>
							<td> {{request.session.datos_trabajador_tipo_contrato}}<td>

						</tr>
						<tr>
							<td>Horas diarias trabajadas</td>
							<td> {{request.session.datos_trabajador_horas_diarias}}<td>
						</tr>

						<tr>

							<td>Tipo de salario</td>
							<td> {{request.session.datos_trabajador_tipo_salario}}<td>
						</tr>
									
	
					</table>
					
					<div class="col-md-12 text-center">
						<form method="post" class="form" enctype="multipart/form-data" action="{{request.session.url_tipo_forma}}"> 
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<label>¿ Los datos de la cara uno de la ficha de datos generales son correctos ?</label>
								</div>
								<div class="col-md-6"> 
									<input type="checkbox" name="" required class="form-control">
								</div>
							</div>
						
						<div class="col-md-12 bg-info p-5 mb-6">
							<!-- <p class="text-uppercase"> Por favor seleccione la hoja de respuestas {{request.session.url_tipo_forma}} de <span style="color:#303030;font-weight: bold">{{request.session.datos_trabajador_nombre}}</span></p>
							<br>
							<input type="file" name="formaA"> -->
						</div>
						<br>
							<button type="submit" class="btn btn-success text-uppercase"> SUBIR FORMULARIO TIPO {{request.session.url_tipo_forma}}</button>
							
						</form>
						
					</div>
				</div>

				<div class="col-md-6 bg-light" style="border:2px green solid;padding:5%">
					<h6 class="text-center">Imagen Escaneada <span style="color:orangered">"Datos Generales Cara Dos"</span></h6>
					<img src="{% static form.url%}" width="100%">
					<div class="text-center">
						<form method="post">
						{% csrf_token %}
						<input type="hidden" name="cambio_img">
						<button type="submit" class="btn btn-warning btn-lg" >Si los datos no corresponden por favor   
						<span style="color:orangered"> ESCANEA DE NUEVO LA HOJA "DATOS GENERALES CARA DOS" Y LUEGO CLICK AQUI PARA CAMBIAR LA IMAGEN</span></button>
					</form>
					</div>
				</div>
		</div>


	</div>
	

{%endblock%}
